*{
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
}
.layout1{
    width: 1085px;
    height: 400px;
    background-color:darkgoldenrod;
}
.head1{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}
.section1{
    height: 300px;
    width: 100%;
}
.footer1{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}
.layout2{
    width: 1085px;
    height: 400px;
    background-color:aquamarine;
}
.head2{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}
.section2{
    height: 300px;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.sec2{
    height: 100%;
    width: 20%;
    border-right: 1px solid black;
    float: left;
    text-align: center;
}
.s2{
    height: 100%;
    width: 20%;
    border-left: 1px solid black;
    float: right;
    text-align: center;
}
.footer2{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}
.layout3{
    width: 1085px;
    height: 450px;
    background-color:coral;
}
.head3{
    width: 100%;
    height: 50px;
    text-align: center;
}
.menu3{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}
.section3{
    height: 300px;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.sec3{
    height: 100%;
    width: 20%;
    border-right: 1px solid black;
    float: left;
    text-align: center;
}
.s3{
    height: 100%;
    width: 20%;
    border-left: 1px solid black;
    float: right;
    text-align: center;
}
.footer3{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}
.layout4{
    width: 1085px;
    height: 400px;
    background-color:cornflowerblue;
    border: 1px solid black;
}
.head4{
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid black;
}
.section4{
    height: 300px;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.sec4{
    height: 100%;
    width: 20%;
    border-right: 1px solid black;
    float: left;
}
.s4{
    height: 100%;
    width: 80%;
    border-left: 1px solid black;
    float: right;
}
.s41{
    height: 80%;
    width: 90%;
    background-color: aliceblue;
    border-left: 1px solid black;
}
.footer4{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    text-align: center;
}
.layout5{
    width: 1085px;
    height: 450px;
    background-color:green;
    border: 1px solid black;
}
.head5{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
}
.menu5{
    width: 100%;
    height: 50px;
    border: 1px solid black;
}
.s5{
    height: 300px;
    width: 100%;
}
.s51{
    height: 80%;
    width: 95%;
    background-color: aliceblue;
}
.footer5{
    width: 100%;
    height: 50px;
    border: 1px solid black;
}
.layout6{
    width: 1085px;
    height: 450px;
    background-color:khaki;
}
.head6{
    width: 100%;
    height: 50px;
    border: 1px solid black;
}
.menu6{
    width: 100%;
    height: 50px;
    border: 1px solid black;
}
.section6{
    height: 300px;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
}
.sec6{
    height: 100%;
    width: 80%;
    border-right: 1px solid black;
}
.s6{
    height: 100%;
    width: 20%;
    border-left: 1px solid black;
}
.s61{
    height: 40%;
    width: 90%;
    border-left: 1px solid black;
    background-color: brown;
}
.s62{
    height: 40%;
    width: 90%;
    border-left: 1px solid black;
    background-color: aqua;
}
.footer6{
    width: 100%;
    height: 50px;
    border-top: 1px solid black;
    text-align: center;
}